/* ------------------------------navbar.css---------------------------------- */
a:hover {
  color: #363636 !important;
}
.navbar {
  min-height: 5.3rem;
}
.navbar ul {
  display: flex;
  align-content: space-between;
  font-family: Rubik-Regular;
}
.navbar-mh {
  min-height: 2.25rem;
}
.border {
  box-shadow: 0px 2px #e9e9e9;
}

.fw-400 {
  font-weight: 400 !important;
}
.border {
  box-shadow: 0px 0.2rem #e9e9e9;
}
.navbar-link::after {
  border-color: black !important;
}
.navbar-dropdown-onscroll {
  border-top: none;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.navbar-dropdown .navbar-item {
  font-size: 1rem;
}
.navbar-dropdown a.navbar-item:hover {
  background-color: white;
  color: #afca0b !important;
}
.navbar-item:hover .navbar-link {
  background-color: transparent !important;
}
.navbar-dropdown a {
  /* font-size: 0.8em;
  font-weight: 400; */
}
.navbar-link {
  padding-right: 3rem;
}
.navbar-start .navbar-item:hover,
.navbar-item.has-dropdown:hover span {
  background-color: transparent;
  color: black !important;
  font-weight: 500 !important;
  box-sizing: border-box;
}
a.navbar-item,
.navbar-link {
  font-weight: 500;
  cursor: pointer;
  color: #888;
  transition: 0.3s color ease;
}
.navbar-item:hover .navbar-link span::after {
  opacity: 0;
}
.navbar {
  transition: all 250ms ease-in;
}
.navbar-link:hover {
  background-color: transparent !important;
}
.navbar-mh {
  /* min-height: 2.25rem; */
}

.navbar-pt {
  /* padding-top: 2.25rem; */
}

.navbar-item-p {
  /* padding: 0 0.75rem; */
}

.navbar-burger-h {
  /* height: 2.25rem; */
}
.nav-active {
  border-bottom: 0.5rem solid #afca0b;
}
.navbar-item img {
  max-height: 2.5rem !important;
}
