README.md
	package-lock.json
	package.json
	public/assets/images/events/eventshero.jpg
	public/assets/images/facilities/Intro.JPG
	public/assets/images/facilities/quality.png
	public/assets/images/home/contact.png
	public/assets/images/home/facilities.png
	public/assets/images/home/hello.png
	public/assets/images/home/niche.png
	public/assets/images/home/product.jpg
	public/assets/images/logo/Logo.jpg
	public/assets/images/product/prod_img.png
	public/assets/images/product/product-hero.jpg
	public/assets/images/slider/slider1.jpg
	public/assets/images/slider/slider3.jpg
	public/assets/images/slider/slider4.jpg
	public/assets/images/slider/slider5.jpg
	public/favicon.ico
	public/index.html
	public/manifest.json
	src/App.css
	src/App.js
	src/App.test.js
	src/action/ProductDetailA.jsx
	src/action/ProductListsA.jsx
	src/action/SetTargetA.jsx
	src/action/StockA.jsx
	src/component/Btn/Btn.css
	src/component/Btn/Btn.jsx
	src/component/contact/Contact.jsx
	src/component/contact/contact.css
	src/component/contact/input-type/InputType.jsx
	src/component/contact/input-type/inputType.css
	src/component/delete/ReactScroll.jsx
	src/component/events-page/Events.jsx
	src/component/events-page/event/Event.jsx
	src/component/events-page/event/event.css
	src/component/events-page/events.css
	src/component/facilities-page/Facilities.jsx
	src/component/facilities-page/facilities.css
	src/component/facilities-page/overview/Overview.jsx
	src/component/facilities-page/overview/overview.css
	src/component/facilities-page/overview/overviewData/OverviewDataLeft.jsx
	src/component/facilities-page/overview/overviewData/OverviewDataRight.jsx
	src/component/facilities-page/qualityControl/QualityControl.jsx
	src/component/facilities-page/qualityControl/qualityControl.css
	src/component/footer/Footer.jsx
	src/component/footer/footer.css
	src/component/hero/Hero.jsx
	src/component/hero/hero.css
	src/component/home/Home.jsx
	src/component/home/home-section/HomeSection.jsx
	src/component/home/home-section/homeSection.css
	src/component/home/home.css
	src/component/home/slider/Slider.jsx
	src/component/home/slider/slider-item/slider-item.jsx
	src/component/home/slider/slider.css
	src/component/navbar/navbar-item/navbar-item.jsx
	src/component/navbar/navbar.css
	src/component/navbar/navbar.jsx
	src/component/navbar/stock/Stock.jsx
	src/component/navbar/stock/stock.css
	src/component/product-page/NicheSectorData/NicheSectorContent/NicheSectorContent.jsx
	src/component/product-page/NicheSectorData/NicheSectorData.css
	src/component/product-page/NicheSectorData/NicheSectorData.jsx
	src/component/product-page/ProductPage.css
	src/component/product-page/ProductPage.jsx
	src/component/product-page/need-info/NeedInfo.css
	src/component/product-page/need-info/NeedInfo.jsx
	src/component/product-page/product-details/ProductDetail.css
	src/component/product-page/product-details/ProductDetail.jsx
	src/component/product-page/product-details/detail/Detail.css
	src/component/product-page/product-details/detail/Detail.jsx
	src/component/product-page/product-details/detail/description/Description.css
	src/component/product-page/product-details/detail/description/Description.jsx
	src/component/product-page/product-details/detail/tables/Table.css
	src/component/product-page/product-details/detail/tables/Tables.jsx
	src/component/product-page/product-details/detail/tables/table-data/TableData.jsx
	src/component/product-page/product-details/product-lists/ProductList.css
	src/component/product-page/product-details/product-lists/ProductList.jsx
	src/index.css
	src/index.js
	src/logo.svg
	src/reducer/ProductDetailR.jsx
	src/reducer/ProductListsR.jsx
	src/reducer/SetTargetR.jsx
	src/reducer/StockR.jsx
	src/registerServiceWorker.js
	src/serviceWorker.js
	src/store.jsx