/* ------------------------Tables.css---------------------- */
.det-animate-4 {
  animation: det-animate 0.5s ease-in-out forwards;
  animation-delay: 300ms;
}
.heading-color {
  background-color: #afca21 !important;
}

table th {
  box-sizing: border-box;
  width: 5.3rem !important;
  font-weight: 500 !important;
}
