/* ===========================================modal-css===================================== */
.modal-background {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 13.5rem; */
  /* padding: 13.5rem 0 0 10.4rem; */
}
.modal-content {
  background-color: white;
  border-radius: 1rem;
  padding: 3.2rem 4.8rem 0 4.8rem;
  width: 79.7rem;
  /* height: 59.9rem; */
}
.modal-subtitle {
  color: #afca0b;
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.modal-date {
  margin-bottom: 0.4rem;
  color: black;
  line-height: 1.5rem;
}
.modal-content-wrapper p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.modal-close-btn {
  margin-top: -1rem;
}
