/* ===============================facilities============================ */
.facilities-page {
  background-image: url("/assets/images/facilities/Intro.JPG");
}
.facilities-page .hero-body {
  padding-left: 6.8%;
}
.facilities-hero-heading {
  color: white !important;
  font-size: 6rem;
  line-height: 5rem;
  font-weight: 500;
  max-width: 53%;
  margin-bottom: 2.5rem;
}
.facilities-page .subtitle {
  font-size: 2rem !important;
  line-height: 2.3rem;
  color: white;
  max-width: 41.5rem;
}
.quality-control {
  height: 100vh;
  padding: 10rem 0;
}
.quality-control .img {
  /* background-size: 80%; */
  background-image: url("/assets/images/facilities/quality.png");
  background-position: center;
  background-size: cover;
}
.quality-control .title {
  font-size: 4rem;
  line-height: 4rem;
  /* max-width: 60%; */
  margin-left: -7rem;
  color: black !important;
  font-weight: bold;
  margin-bottom: 7rem+6;
}
.quality-control-content {
  padding-left: 0 !important;
}
